.container-items {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	background-color: rgb(255, 255, 255);
	height: auto;
	width: 100%;
	grid-area: main;
	padding: 0 5%;
	margin: 50px 0;
}

.item__container{
	width: 320px;
	height: 433px;
	background-color: white;
	border: 1px solid rgb(230, 230, 230);
	border: 1px solid rgb(0, 0, 0);
	cursor: pointer;
}

.item__container:hover {
	border: 1px solid rgb(0, 0, 0);
	// box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.item__thumbnail{
	width: 100%;
	height: 300px;
	overflow: hidden;
	border-bottom: 1px solid black;
}

.item__img {
	width: 100%;
	height: 100%;
	object-fit: cover;

	transition: all 0.5s;
}

.item__container:hover {
	.item__img{
		transform: scale(1.2);
	}
}


.item__information{
	display: flex;
	flex-direction: column;
	padding: 20px;


	.item__price{
		font-weight: 500;
		font-size: 28px !important;
		color: #474747;
	}

	.item__name{
		font-size: 20px;
		font-weight: 500;
	}
	
	.item__send{
		letter-spacing: 0.2px;
		font-size: 15px;
		font-weight: 300;
		color: black;
	}
}


.container__popUp {
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	display: none;
	
}


.itemPopUp{
	position: relative;
	background-color: rgb(255, 255, 255);
	height: 500px;
	width: 800px;
	display: flex !important;
	gap: 30px;
	border: 1px solid black;
}


.popUp__thumbnail{
	height: 100%;
	width: 800px;
	max-width: 300px;
	flex: 40%;
	border-right: 1px solid black;
}

.popUp__img{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.popUp__information{
	flex: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 30px;
	gap: 15px;
	height: 100%;

	p{
		font-size: 16px;
		letter-spacing: 0.2px;
	}

	.item__price {
		font-size: 32px !important;
		font-weight: 900;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		span{
			font-size: 14px;
			color: rgb(113, 113, 113);
		}
	}
}



.separator-md{
	height: 0;
	width: 100%;
}

.popUp__title{
	font-size: 38px;
	font-weight: 500;
    letter-spacing: 0.1px;
}

.button__container{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	height: 50px;
	width: 100%;
	
}

.popUp__button__text:hover {
	right: 0px;
	bottom: 0px;
  }

  .popUp__button:active{
	scale: 0.95;
	

  }

                                  
  .popUp__button {
	display: block;
	background: transparent;
	cursor: pointer;
	position: relative;
	width: 230px;
	letter-spacing: 1.01px;
	box-sizing: border-box;
	height: 58px;
	margin: 30px 0 0 -9px;
	border: 0;
	color: #ffffff;
	transition: .4s all;
  }

  .popUp__button::before {
	content: "";
	position: absolute;
	border: 2px solid #000000;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
	top: 3px;
	left: 7px;
	right: 0;
	bottom: 0;
  }

  .popUp__button__text {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 6px;
	bottom: 6px;
	left: 0;
	box-sizing: border-box;
	font-size: 14px;
	background-color: #0b0b0b;
	font-weight: bold;
	transition: all 0.4s;
  }

  .popUp__button--fav{
	width: 50px;

  }

  .popUp__button__tex--fav{
	font-size: 20px;
	background-color: rgb(4, 4, 4);
	
  }
  


.active{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.665);
}


.close{
	position: absolute;
	color: white;
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	font-weight: bolder;
	right: -60px !important;
	top: -60px !important;
	transition: all 0.4s;
}



.close:hover{
	color: rgb(254, 158, 158);
	rotate: 90deg;
}

